.titulo {
    background-color: lightcyan;
    color: burlywood;
}

p {
    background-color: tan;
    color: darkslategrey;
}

#tendencias {
    border-bottom-style: solid;
    border-left-style: solid;
    border-radius: 5px;
    border-color: teal;
}

tr,
td {
    background-color: wheat;
}
th {
    color: cadetblue;
}
